<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/data-debug.css">
    <link rel="stylesheet" href="/css/wysiwyg-editor.min.css">
    <script type="text/javascript" src="/libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap.min.js"></script>
</head>
<body>
  
  <div class="user-list row col-xs-offset-1 col-xs-10">
    <ol class="breadcrumb">
      <li><a href="/abe/">Home</a></li>
      <li><a href="/plugin/debugger/multiply" class="active">Multiply</a></li>
    </ol>

    <div class="alert alert-danger hidden" role="alert">
      
    </div>
  
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{#each result.0.files}}
        <form method="get" action="/plugin/debugger/multiply">
          <input type="hidden" name="tplName" value="{{template}}">
          <input type="hidden" name="filePath" value="{{path}}">
          <input type="hidden" name="selectTemplate" value="{{template}}">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                  {{path}}
                </a>
                <a href="/abe/{{abe_meta.template}}?filePath={{abe_meta.link}}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="number" value="5" checked="checked">
                <label for="">x5</label>
                <input type="radio" name="number" value="10">
                <label for="">x10</label>
                <input type="radio" name="number" value="25">
                <label for="">x25</label>
                <input type="radio" name="number" value="50">
                <label for="">x50</label>
                <input type="submit" value="create" class="btn btn-default" />
                <input type="button" value="delete" class="btn btn-danger" data-url="/delete/?filePath={{path}}" />
              </h4>
            </div>
            <div id="collapse{{@index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <pre>
                  {{printJson this}}
                </pre>
              </div>
            </div>
          </div>
        </form>
        {{/each}}
    </div>

    <br /><br />
  </div>

  <script type="text/javascript" src="/data-debug.js"></script>
  
</body>
</html>