{{abe type="slug" source="acl-{{testYear[0].yearFormated}}{{testMonth[0].monthFormated}}-en-1"}}
{{abe type='data' key='testYear' source='reference/years.json' desc='Year' required="true" display="year" tab="slug" visible="false" max-length="1"}}
{{abe type='data' key='testMonth' source='reference/months.json' desc='Month' required="true" display="month" tab="slug" visible="false" max-length="1"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>title</title>
</head>
<body>
content
</body>
</html>