{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "22"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ],
  "ignore": [
    "src/server/public/abecms/libs",
    "src/server/public/abecms/vendors"
  ]
}
