<div id="fh5co-offcanvas">
	<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
	<div class="fh5co-bio">
		<figure>
			<img src="/images/abejs.jpg" alt="Abejs CMS" class="img-responsive">
		</figure>
		<h3 class="heading">About Abejs</h3>
		<h2>ABEJS</h2>
		<p>The lightning fast CMS</p>
		<ul class="fh5co-social">
			<li><a href="https://twitter.com/gregorybesson" target="_blank"><i class="icon-twitter"></i></a></li>
			<li><a href="https://github.com/gregorybesson" target="_blank"><i class="icon-github"></i></a></li>
			<li><a href="https://fr.linkedin.com/in/gregorybesson" target="_blank"><i class="icon-linkedin"></i></a></li>
		</ul>
	</div>
</div>