<!-- CoreUI and necessary plugins-->
<script type="text/javascript" src="/abecms/vendors/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="/abecms/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="/abecms/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="https://unpkg.com/@coreui/coreui@3.4.0/dist/js/coreui.bundle.min.js"></script>

<script type="text/javascript" src="/abecms/libs/standalone.min.js"></script>
<script type="text/javascript" src="/abecms/libs/moment-with-locales.js"></script>
<script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
<script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
