<!-- CoreUI and necessary plugins-->
<script src="/abecms/vendors/jquery/js/jquery.min.js"></script>
<script src="/abecms/libs/jquery-ui.min.js"></script>
<script src="/abecms/vendors/popper.js/js/popper.min.js"></script>
<script src="/abecms/vendors/bootstrap/js/bootstrap.min.js"></script>
<!-- empeche l'injection du CSRF-COOKIE depuis user-login.js-->
<!--script src="/abecms/vendors/pace-progress/js/pace.min.js"></script-->
<script src="/abecms/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="/abecms/vendors/@coreui/coreui/js/coreui.min.js"></script>
<script>
  // $('#ui-view').ajaxLoad();
  // $(document).ajaxComplete(function() {
  //   Pace.restart()
  // });
</script>

<script src="/abecms/scripts/template-engine-compiled.js"></script>
<script src="/abecms/scripts/admin-compiled.js"></script>
