
    <div class="panel panel-default">
      <div class="panel-heading">{{@root.text.new_file}}</div>
      <div class="panel-body">
        <form class="form-horizontal form-create" method="get" action="" data-form-abe-create="true">
          
          {{abeImport 'create-form-folder' manager.config this}}
          {{abeImport 'create-form-template' manager.config this}}
          {{abeImport 'create-form-tplname' manager.config this}}
          {{abeImport 'create-form-addons' manager.config this}}

          <div class="">
            <div class="">
              <button type="submit" class="btn btn-primary" date-abe-create="true">{{@root.text.create}}</button>
              {{#unless isHome}}
              <br /><br />
              <button type="submit" class="btn btn-primary" date-abe-update="true">update</button>
              <br /><br />
              <button type="submit" class="btn btn-primary" date-abe-duplicate="true">duplicate</button>
              {{/unless}}
            </div>
          </div>

          <input class="form-control" type="hidden" name="filePath" id="filePath" value="{{json.abe_meta.cleanFilename}}" />
          <input class="form-control" type="hidden" name="oldFilePath" id="oldFilePath" value="{{json.abe_meta.link}}" />
          
        </form>
      </div>
    </div>
    