<div class="form-group">
  <label for="selectTemplate" class="control-label">{{@root.text.template}} *</label>
  <select class="form-control" id="selectTemplate" data-id="selectTemplate" data-required="true" name="selectTemplate" data-type-template-abe="true">
    <option></option>
    {{#each @root.manager.list.templates}}
      {{#ifCond @root.json.abe_meta.template name}}
        {{#ifCond @root.precontrib "true"}}
        <option value="{{name}}" clean-value="{{website}}">{{name}}</option>
        {{else}}
        <option value="{{name}}" clean-value="{{website}}" selected="selected">{{name}}</option>
        {{/ifCond}}
      {{else}}
      <option value="{{name}}" clean-value="{{website}}">{{name}}</option>
      {{/ifCond}}
    {{/each}}
  </select>
</div>