
<div class="">
  <div class="">
    <h1>
      <small class="manager-header-title">New content</small>
    </h1>
  </div>

  <form class="form-create" data-form-abe-create="true">
    
    {{&setVariable "precontrib" "true"}}

    {{&folders @root.manager.list.structure 1 null @root.text}}
    {{abeImport 'create-form-template' @root.manager.config @root}}
    {{abeImport 'create-form-tplname' @root.manager.config @root}}

    {{&setVariable "precontrib" "false"}}

    <div class="">
      <div class="">
        <button type="submit" class="btn btn-primary" data-abe-create="true">{{@root.text.create}}</button>
      </div>
    </div>

    <div data-post-path-preview="true" class="breadcrumb"></div>
  </form>
</div>
    