{{#if form}}
<div class="no-gutter half-view abeform-wrapper form-wrapper status-{{@root.json.abe_meta.status}}" data-width="{{editorWidth}}" style="width:{{editorWidth}}">
  <div class="abeform-wrapper">
    <form class="text-i18n status-{{@root.json.abe_meta.status}}" id="abeForm">
      <ul class="nav nav-tabs" role="tablist">
        {{#each form}}
          <li role="presentation" class="nav-item">
            <a href="#{{cleanTab @key}}" aria-controls="{{cleanTab @key}}" role="tab" data-toggle="tab" class="nav-link{{#if @first}} active{{/if}}">
              {{@key}}
            </a>
          </li>
        {{/each}}
      </ul>
      <div class="tab-content">
      {{#each form}}
        <div role="tabpanel" class="tab-pane {{#if @first}}active{{/if}}" id="{{cleanTab @key}}">
          {{#ifCond @key 'slug'}}
            <div class="form-create" data-form-abe-create="true">

              {{&folders @root.manager.list.structure 1 @root.json.abe_meta.link @root.text}}
              {{#> create-form-template}}{{/create-form-template}}
              {{#> create-form-tplname}}{{/create-form-tplname}}

              <input class="form-control" type="hidden" name="oldFilePath" id="oldFilePath" data-id="oldFilePath" value="{{@root.json.abe_meta.link}}" />
              <div class="">
                <div class="">
                <button type="submit" class="btn btn-primary" data-abe-duplicate="true">duplicate</button>
                <button type="submit" class="btn btn-primary" data-abe-update="true">update</button>
                </div>
              </div>
              <div data-post-path-preview="true" class="breadcrumb"></div>
            </div>
          {{else}}
            {{#each this}}
              {{#if this.0.firstgroup}}
                {{#if this.0.group}}
                <div class="card">
                  <h5 class="card-header">{{this.0.group}}</h5>
                {{/if}}
                <div class='single-block card-body bg-light'>
              {{/if}}
              <div class="{{cleanTab @key}}">
              {{{printBlock this @root}}}
              </div>
              {{#if this.0.lastgroup}}</div></div>{{/if}}
            {{/each}}
          {{/ifCond}}

            <!--small class="text-muted">* Required</small-->
        </div>
      {{/each}}
      </div>
      {{#> engine-more}}{{/engine-more}}
    </form><!-- *************** /end form edit *************** -->
    <footer class="footer">
      <div class="display-status" style="display:none;">
        &nbsp;current status : <span data-display-status="true">{{@root.json.abe_meta.status}}</span>
      </div>
      <!-- *************** btn toolbar *************** -->
      <div class="toolbar">
        <div class="btns">
          {{#> toolbar}}{{/toolbar}}
          {{#> toolbar-more}}{{/toolbar-more}}
        </div>
      </div><!-- *************** /end btn toolbar *************** -->
    </footer>
  </div>
  <!--div class="close-engine">
    <i class="fa fa-expand"></i>
  </div>
  <div class="open-engine">
    <i class="fa fa-compress" aria-hidden="true"></i>
  </div-->
</div>
{{/if}}