<header class="c-header c-header-light c-header-fixed">
  <button
    class="c-header-toggler c-class-toggler d-lg-none mfe-auto"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-show"
  >
    <span class="c-header-toggler-icon"></span>
  </button>
  <button
    class="c-header-toggler c-class-toggler mfs-3 d-md-down-none"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-lg-show"
    responsive="true"
  >
    <span class="c-header-toggler-icon"></span>
  </button>
  <ul class="c-header-nav navbar-nav ml-auto">
    {{#if @root.config.users.enable}}
    <li class="c-header-nav-item dropdown">
      <a
        class="c-header-nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{#if @root.user.avatar}}
        <img
          src="{{@root.user.avatar}}"
          width="45"
          alt="{{@root.user.role.name}}"
          style="border-radius: 50%;"
        />
        {{else}}
        <img
          class="img-avatar"
          src="/abecms/image/avatars/6.jpg"
          alt="{{@root.user.role.name}}"
        />
        {{/if}}
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <!--div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div-->
        <!--a class="dropdown-item" href="#">
                    <i class="fa fa-tasks"></i> Tasks
                    <span class="badge badge-danger">42</span>
                    </a>
                    <a class="dropdown-item" href="#">
                    <i class="fa fa-comments"></i> Comments
                    <span class="badge badge-warning">42</span>
                    </a-->
        <div class="dropdown-header text-center">
          <strong>Settings</strong>
        </div>
        <a class="dropdown-item" href="/abe/users/profile"
          ><i class="fa fa-user"></i> Profile</a
        >
        <!--a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a-->
        <div class="divider"></div>
        <!--a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a-->
        <a class="dropdown-item" href="/abe/users/logout"
          ><i class="fa fa-lock"></i> Logout</a
        >
      </div>
    </li>
    {{/if}}
  </ul>
  <button
    class="c-header-toggler c-class-toggler mfs-3 d-md-down-none"
    type="button"
    data-target="#aside"
    data-class="c-sidebar-show"
    responsive="true"
  >
    <span class="c-header-toggler-icon"></span>
  </button>
</header>
