<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="AbeCMS - Open Source CMS">
<title>AbeCMS</title>
<!-- Icons-->
<link href="/abecms/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
<link href="/abecms/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="/abecms/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/abecms/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
<!-- Main styles for this application-->
<link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">
<link href="/abecms/css/styles.css" rel="stylesheet">
<!-- This line below is specific to Electron  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>