<nav class="navbar navbar-inverse abe-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="https://ga-beacon.appspot.com/UA-96658558-1/{{abeVersion}}?pixel" style="visibility:hidden"/>
      <a class="c-header-brand" href="/abe" title="abe@{{abeVersion}}"><img src="/abecms/image/white_logo_transparent_background_small.png" width="40"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      {{#if isEditor}}
      <ul class="c-header-nav navbar-nav navbar-center responsive-tool">
        <li><a href="javascript:iframeResize('page-template', 320)"><span class="fa fa-mobile"></span></a></li>
        <li><a href="javascript:iframeResize('page-template', 768)"><span class="fa fa-tablet"></span></a></li>
        <li><a href="javascript:iframeReset('page-template')"><span class="fa fa-desktop"></span></a></li>
      </ul>
      {{/if}}
      <ul class="c-header-nav navbar-nav navbar-right">
        {{#if @root.config.users.enable}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-user" data-toggle="dropdown">
            <div class="user-circle text-uppercase">
              {{#if @root.user.avatar}}
                <img src={{@root.user.avatar}} width="45"/>
              {{else}}
                {{truncate @root.user.username 1 ''}}
              {{/if}}
            </div>
            <div class="user">
              {{@root.user.username}} <span class="caret"></span>
              <span class="user-role">{{@root.user.role.name}}</span>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><i class="fa fa-user" aria-hidden="true"></i><a href="/abe/users/profile">Profile</a></li>
            <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="/abe/users/logout">logout</a></li>
          </ul>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<script type="text/javascript">
  function iframeResize(frameId, width){
      document.querySelector('#'+frameId).style.width = width + "px";
  }

  function iframeReset(frameId){
      document.querySelector('#'+frameId).style.width = "100%";
  }
  var colors = {a:'#e53935',b:'#b71c1c',c:'#d81b60',d:'#880e4f',e:'#8e24aa',f:'#4a148c',g:'#5e35b1',h:'#311b92',i:'#3949ab',j:'#1a237e',k:'#1e88e5',l:'#0d47a1',m:'#039be5',n:'#01579b',o:'#00acc1',p:'#006064',q:'#00897b',r:'#004d40',s:'#43a047',t:'#1b5e20',u:'#7cb342',v:'#33691e',w:'#c0ca33',x:'#827717',y:'#fdd835',z:'#f57f17','':''};
  var circleLetters = document.querySelectorAll('.user-circle');
  Array.prototype.forEach.call(circleLetters, function (circleLetter) {
    circleLetter.style.background = colors[circleLetter.textContent.trim().toLowerCase()];
  });
</script>
