<style>
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
</style>
<div class="no-gutter manager-wrapper {{#if form}}{{else}}visible{{/if}}">

  <!-- *************** left admin manager *************** -->
  <div class="manager-left form-wrapper">
    {{abeImport 'create' manager.config this}}

    {{abeImport 'menu-left' manager.config this}}

    {{abeImport 'left-addons' manager.config this}}
    <div class="abe-version">abe@{{abeVersion}}</div>
  </div><!-- *************** /end left admin manager *************** -->

  <!-- *************** right admin manager *************** -->
  <div class="manager-right">
    <div class="container">
      <div class="jumbotron">
        <h1><span class="fa fa-bullhorn"></span>  Welcome to AbeCMS <a class="btn btn-lg btn-success" href="/abe/editor" role="button">Go to the manager</a></h1>
        <p class="lead" style="font-size: 20px;font-weight: 400;"><br/>
        
        <br/><br/>
        <img src="/abecms/image/dark_logo_transparent_background_small.png" style="float: left;margin-right: 30px;">
        AbeJS becomes AbeCMS and is now hosted on its own repository in github : <a href="https://github.com/abecms">https://github.com/abecms</a>
        <br/>
        This brand new version is full of new features and has been redesigned to be more comfortable and easy to use.
        <br/><br/><br/>
        We hope you'll have as much fun creating your content as we've had working on AbeCMS
        <br/><br/>
        This page will be your dashboard. We're working hard to cook you awesome widgets... Stay tuned !
        </p>
        <p></p>
      </div>
    </div>
  </div>
</div><!-- *************** /end right admin manager *************** -->
       