<div class="no-gutter manager-wrapper {{#if form}}{{else}}visible{{/if}}">

  <!-- *************** left admin manager *************** -->
  <div class="manager-left form-wrapper">
    {{abeImport 'create' manager.config this}}

    {{abeImport 'menu-left' manager.config this}}

    {{abeImport 'left-addons' manager.config this}}
    <div class="abe-version">abe@{{abeVersion}}</div>
  </div><!-- *************** /end left admin manager *************** -->

  <!-- *************** right admin manager *************** -->
  <div class="manager-right">
    <div class="container">
      
      <div class="row statistics">
        <div class="col-xs-6">
          <div class="text-uppercase">
            Key numbers
          </div>
          <div class="progress-stat">
            <div class="progress-element" data-percent="{{statistics.percentPublishedPages}}%" style="color:#40B7E2">
              <svg viewBox="-10 -10 220 220">
                <g fill="none" stroke-width="30" transform="translate(100,100)">
                  <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="#40B7E2"/>
                  <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="#40B7E2"/>
                  <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="#40B7E2"/>
                  <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="#40B7E2"/>
                  <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="#40B7E2"/>
                  <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="#40B7E2"/>
                </g>
              </svg>
              <svg viewBox="-10 -10 220 220">
                <path stroke="#F1F1F1" d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="{{statistics.svgCirclePercent}}"></path>
              </svg>
            </div>
            <div class="progress-text">
              <span>{{statistics.totalPublishedPage}}</span> published pages
            </div>
          </div>
          <div class="progress-stat">
            <div class="progress-element" data-percent="100%" style="color:#B8E986">
              <svg viewBox="-10 -10 220 220">
                <g fill="none" stroke-width="30" transform="translate(100,100)">
                  <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="#B8E986"/>
                  <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="#B8E986"/>
                  <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="#B8E986"/>
                  <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="#B8E986"/>
                  <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="#B8E986"/>
                  <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="#B8E986"/>
                </g>
              </svg>
              <svg viewBox="-10 -10 220 220">
                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
              </svg>
            </div>
            <div class="progress-text">
              <span>0/0</span> connected / users
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="text-uppercase">
            Activity stream
          </div>

          <div class="stream">
            
          </div>
          
        </div>
      </div>

      <div class="tweet-subtitle">
        Last News from @abe_cms team
      </div>

      <div id="tweets-slider" class="swiper-container">
        
      </div>

    </div>
  </div>
</div>
<script type="text/javascript" src="/abecms/libs/moment-with-locales.js"></script>
<script type="text/javascript">

  var StreamParent = document.querySelector('.stream');
  var streams = [];

  var actionsType = {
    PUBLISH: 'publish',
    REVIEW: 'review',
    CREATE: 'create',
    DELETE: 'delete',
  };

  function timer(){
    setInterval(function () {
      Array.prototype.forEach.call(streams, (stream) => {
        stream.updateTime();
      });
    }, 1000*60);
  }

  function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000);
    var interval = Math.floor(seconds / 31536000);
    if (interval >= 1) return interval + "y ago";
    interval = Math.floor(seconds / 2592000);
    if (interval >= 1) return interval + "m ago";
    interval = Math.floor(seconds / 86400);
    if (interval >= 1) return interval + "d ago";
    interval = Math.floor(seconds / 3600);
    if (interval >= 1) return interval + "h ago";
    interval = Math.floor(seconds / 60);
    if (interval >= 1) return interval + "mn ago";
    return "now";
  }

  function removeStream(callBack){
    if(streams.length > 3){
      var oldestStream = streams.shift();
      var node = oldestStream.getNode();
      // node.classList.add('remove');
      setTimeout(function () {
        // oldestStream.destroy();
        callBack();
      }, 750);
    }
    else setTimeout(function () {
      callBack();
    }, 100);
  }

  var StreamItem = function StreamItem (data) {
    this.data = data;
    this.createNode();
  };

  StreamItem.prototype.getNode = function getNode () {
    return this.streamItem;
  };

  StreamItem.prototype.updateTime = function updateTime () {
    this.time.textContent = timeSince(new Date(this.time.getAttribute('data-time')));
  };

  StreamItem.prototype.destroy = function destroy () {
    this.streamItem.parentNode.removeChild(this.streamItem);
  };

  StreamItem.prototype.createNode = function createNode () {
    // parent stream
    this.streamItem = document.createElement('div');
    this.streamItem.classList.add('stream-item');
    this.streamItem.classList.add('remove');
    this.streamItem.classList.add(this.getActionClass());

    // clock
    this.time = document.createElement('div');
    this.time.classList.add('stream-time');
    this.time.textContent = 'now';
    this.time.setAttribute('data-time', new Date().toISOString());

    // content
    var content = document.createElement('div');
    content.classList.add('stream-content');
    content.innerHTML = '<strong class="name">' + this.data.user + '</strong> ' +
                        '<span class="stream-action">' + this.getTextContent() + '</span> : ' +
                        '<a href="' + this.data.post + '" class="stream-page">' + this.data.post + '</a>';

    this.streamItem.appendChild(this.time);
    this.streamItem.appendChild(content);

    StreamParent.insertBefore(this.streamItem, StreamParent.firstChild);

    setTimeout(function () {
      this.streamItem.classList.remove('remove');
    }.bind(this), 100);
  };

  StreamItem.prototype.getActionClass = function getActionClass () {
    var action;

    switch(this.data.operation){
      case actionsType.PUBLISH: action = 'published'; break;
      case actionsType.REVIEW: action = 'reviewed'; break;
      case actionsType.CREATE: action = 'created'; break;
      case actionsType.DELETE: action = 'deleted'; break;
      default: action = 'default';
    }

    return action
  };

  StreamItem.prototype.getTextContent = function getTextContent () {
    var text;

    switch(this.data.operation){
      case actionsType.PUBLISH: text = 'has published a page'; break;
      case actionsType.REVIEW: text = 'has reviewed a page'; break;
      case actionsType.CREATE: text = 'has created a new page'; break;
      case actionsType.DELETE: text = 'has deleted a page'; break;
      default: text = '';
    }

    return text
  };

  if (!!window.EventSource) {
    var stream = document.querySelector('.stream')
    var source = new EventSource('/abe/rest/activity-stream');
    source.addEventListener('message', (e, data) => {
      var json = JSON.parse(e.data)
      if(json.user != null) streams.push(new StreamItem(json));
      if(streams.length === 1) timer();
    }, false);

    source.addEventListener('open', (e) => {
      // Connection was opened.
    }, false);

    source.addEventListener('error', (e) => {
      if (e.readyState == EventSource.CLOSED) {
        // Connection was closed.
      }
    }, false);
  }

</script>
