<!DOCTYPE html>
<html data-config='{"URL":"{{abeUrl}}","EXTENSION":"{{@root.config.files.templates.extension}}","TPLPATH":"{{@root.json.abe_meta.template}}","TPLNAME":"{{tplName}}","FILEPATH":"{{@root.json.abe_meta.link}}"}'
      data-slugs='{{{printJson @root.slugs}}}'
      data-json='{{{printJson json 1}}}'
      data-Locales='{{{printJson Locales}}}' >
  <head>
    <title>Abe</title>
    {{#> common-styles}}{{/common-styles}}
    <link rel="stylesheet" href="/abecms/css/wysiwyg-editor.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <!-- This line below is specific to Electron  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  </head>
  <body class="engine-open abe-body homepage with-menu">
    {{#> header-menu}}{{/header-menu}}
    <div class="container-main">
      <div class="container-table">
        {{#block "body"}}
            no content
        {{/block}}
      </div>
      <div class="wysiwyg-popup color"></div>
      <div class="wysiwyg-popup link"></div>
      <div class="wysiwyg-popup image"></div>
      <div class="wysiwyg-popup smiley"></div>
    </div>
    {{#block "bottom-scripts"}}
      {{#> common-scripts}}{{/common-scripts}}
      <script type="text/javascript" src="/abecms/libs/standalone.min.js"></script>
      <script type="text/javascript" src="/abecms/libs/moment-with-locales.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script>
      <script type="text/javascript" src="/abecms/libs/stream-home.js"></script>
      <script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
      <!-- This line below is specific to Electron  -->
      <script>if (window.module) module = window.module;</script>
    {{/block}}
  </body>
</html>