<li class="nav-title">Content</li>
<li class="nav-item">
  <a class="nav-link{{#if isDashboard}} active{{/if}}" href="/abe">
    <i class="nav-icon icon-graph"></i> Dashboard</a>
</li>
<li class="nav-item">
  <a class="nav-link{{#if isHome}} active{{/if}}" href="/abe/editor">
    <i class="nav-icon icon-list"></i> Manager</a>
</li>
{{#isAuthorized '/abe/structure' @root.user.role.workflow}}
<li class="nav-item">
  <a class="nav-link{{#if isStructure}} active{{/if}}" href="/abe/structure">
      <i class="nav-icon icon-docs"></i> Structure</a>
</li>
{{/isAuthorized}}
{{#isAuthorized '/abe/references' @root.user.role.workflow}}
<li class="nav-item">
  <a class="nav-link{{#if isReference}} active{{/if}}" href="/abe/reference">
    <i class="nav-icon icon-note"></i> References</a>
</li>
{{/isAuthorized}}
{{#isAuthorized '/abe/themes' @root.user.role.workflow}}
  {{#if config.themes.repository.active}}
    <li class="nav-item">
      <a class="nav-link{{#if isThemes}} active{{/if}}" href="/abe/themes">
        <i class="nav-icon icon-layers"></i> Themes</a>
    </li>
  {{/if}}
{{/isAuthorized}}
{{#isAuthorized '/abe/themes' @root.user.role.workflow}}
{{#if config.themes.repository.active}}
  <li class="nav-item">
    <a class="nav-link{{#if isBuildTemplate}} active{{/if}}" href="/abe/build-template">
      <i class="nav-icon icon-puzzle"></i> Design a template</a>
    </a>
  </li>
{{/if}}
{{/isAuthorized}}
<li class="divider"></li>

{{#if @root.config.users.enable}}
  <li class="nav-title">Team</li>
  {{#isAuthorized '/abe/users/list' @root.user.role.workflow}}
  <li class="nav-item">
    <a class="nav-link{{#if isMembers}} active{{/if}}" href="/abe/users/list">
      <i class="nav-icon icon-people"></i> Members</a>
  </li>
  {{/isAuthorized}}
  {{#isAuthorized '/abe/users/list' @root.user.role.workflow}}
  <li class="nav-item">
    <a class="nav-link{{#if isRoles}} active{{/if}}" href="/abe/list-url">
      <i class="nav-icon icon-graduation"></i> Roles</a>
  </li>
  {{/isAuthorized}}
  {{#isAuthorized '/abe/users/list' @root.user.role.workflow}}
  <li class="nav-item">
    <a class="nav-link{{#if isWorkflow}} active{{/if}}" href="/abe/list-workflow">
      <i class="nav-icon icon-directions"></i> graph</a>
  </li>
  {{/isAuthorized}}
{{/if}}

{{#> menu-addons}}{{/menu-addons}}

