
<div class="no-gutter manager-wrapper {{#if form}}{{else}}visible{{/if}}">

  <!-- *************** left admin manager *************** -->
  <div class="left">
    {{#if isHome}}
    {{else}}
    <div class="clearfix">
      <button type="button" class="close close-manager" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    {{/if}}

    {{abeImport 'create' manager.config this}}

    {{abeImport 'menu-left' manager.config this}}

    {{abeImport 'left-addons' manager.config this}}
    <div class="abe-version">abe@{{abeVersion}}</div>
  </div><!-- *************** /end left admin manager *************** -->

  <!-- *************** right admin manager *************** -->
  <div class="right">
    {{abeImport 'right-file-list' manager.config this}}

    {{abeImport 'right-references-list' manager.config this}}

    {{abeImport 'right-structure-list' manager.config this}}

    {{abeImport 'right-config' manager.config this}}        

    {{abeImport 'right-revisions' manager.config this}}    
  </div>
</div><!-- *************** /end right admin manager *************** -->
