
{{#if manager.home}}
<div class="page-header">
  <h1><small>{{@root.text.site}}</small></h1>
</div>
<ul class="list-group list-group-manager">
  {{#if @root.allowed.action.config}}
  <li class="list-group-item pointer" data-config="true" data-manager-show="manager-config">
    {{@root.text.config}}
  </li>
  {{/if}}
  <li class="list-group-item pointer" data-config="true" data-manager-show="manager-files">
    {{@root.text.navigation}}
  </li>
  {{#isAuthorized '/abe/references' @root.user.role.workflow}}
  <li class="list-group-item pointer" >
    <a href="/abe/reference">edit references</a>
  </li>
  {{/isAuthorized}}
  {{#isAuthorized '/abe/structure' @root.user.role.workflow}}
  <li class="list-group-item pointer" >
    <a href="/abe/structure">edit structure</a>
  </li>
  {{/isAuthorized}}
  {{#if @root.config.users.enable}}
    {{#isAuthorized '/abe/users/list' @root.user.role.workflow}}
      <li class="list-group-item pointer">
        <a href="/abe/users/list">Users</a> 
      </li>
    {{/isAuthorized}}
  {{/if}}
  {{#if @root.config.users.enable}}
    <li class="list-group-item pointer">
      <a href="/abe/users/profil">Profil</a> 
    </li>
  {{/if}}
  {{abeImport 'menu-left-addons' manager.config this}}
</ul>
{{/if}}

{{#if @root.allowed.action.revisions}}
  {{#if manager.file}}
  <div class="page-header">
    <h1><small>{{@root.text.file}}</small></h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item pointer" data-config="true" data-manager-show="manager-file-config">
      {{@root.text.revisions}}
    </li>
  </ul>
  {{/if}}
{{/if}}

{{#if @root.config.users.enable}}
  <a href="/abe/users/logout" class="btn btn-danger btn-logout">logout</a>
{{/if}}