
{{#if manager.home}}
<ul class="list-group list-group-manager">
  {{#if @root.allowed.action.config}}
  <li class="list-group-item pointer" data-config="true" data-manager-show="manager-config">
    {{@root.text.config}}
  </li>
  {{/if}}
  {{abeImport 'menu-left-addons' manager.config this}}
</ul>
{{/if}}

{{#if @root.allowed.action.revisions}}
  {{#if manager.file}}
  <div class="page-header">
    <h1><small>{{@root.text.file}}</small></h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item pointer" data-config="true" data-manager-show="manager-file-config">
      {{@root.text.revisions}}
    </li>
  </ul>
  {{/if}}
{{/if}}
