{{#if manager.home}}
<div class="manager-tab references-files">
    <div class="page-header">
      <div class="text-uppercase">
        edit references
      </div>
    </div>
    <div class="references-files-wrapper">
      <ul class="list-group">
        {{#each references}}
        <li class="list-group-item" data-error="0" data-href="{{@root.config.reference.url}}/{{@key}}" data-ref-json='{{printJson this}}'>
          {{@key}}
        </li>
        {{/each}}
        </ul>
        <div class="display-json-wrapper">
          <textarea class="form-control display-json"></textarea>
          <div class="text-saved">✔ saved</div>
          <div class="json-error">
            &nbsp;
          </div>
        </div>
    </div>
  <br />
</div>
{{/if}}