{{#each @root.workflows}}
  {{#isAuthorized this.url @root.user.role.workflow}}
    <button class='btn btn-info btn-save btn-{{this.status}}' data-action="{{this.status}}" data-url="{{this.url}}">
      <span class="fa {{#ifCond this.status 'publish'}}fa-paper-plane-o{{else}}{{#ifCond this.status 'edit'}}fa-pencil{{else}}{{#ifCond this.status 'reject'}}fa-reply{{else}}fa-save{{/ifCond}}{{/ifCond}}{{/ifCond}} pull-left"></span>
      <span class="before">
        {{this.status}}
      </span>
      <span class="loading">
        {{@root.text.saving}}
      </span>
      <span class="after">
        {{@root.text.done}}
      </span>
    </button>
  {{else}}
  {{/isAuthorized}}
{{/each}}