<div class="gallery">
	<div class="overlay close-gallery" data-init="0"></div>
	<div class="popin-gallery">
		
		<div class="header">
			Gallery
			<span class="close-btn close-gallery" data-init="0">
				<span class="glyphicon glyphicon-remove"></span>
			</span>
		</div>

		<div class="body">
			<div class="content"></div>
		</div>

		<div class="footer">
				<div class="content-footer">
					<div class="desc"></div>
					<div class="image"></div>
				</div>
				<button class="btn-choose-img">choose</button>
		</div>

	</div>
</div>

<script src="/gallery.js" defer></script>
<link rel="stylesheet" href="/gallery.css">