.gallery-open .gallery{
	display: block;
}
.gallery{
	display: none;
	padding: 3%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 555555;
}
.gallery .overlay{
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.gallery .popin-gallery{
	background: #FFF;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
	height: 100%;
	width: 100%;
}
.open-gallery,
.border{
	display: inline-block;
	width: 40px;
}
.open-gallery:hover,
.border:hover{
	cursor: pointer;
}
.open-gallery{
  vertical-align: top;
	position: relative;
	text-align: center;
  overflow: hidden;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border: 1px solid #ccc;
  border-left: 0;
  height: 34px;
}
.open-gallery:hover{
	cursor: pointer;
}
/* .open-gallery span{
	color: #8E8E8E;
  font-size: 18px;
  line-height: 34px;
} */
.close-btn{
	position: absolute;
	top: 15px;
	right: 15px;
}
.close-btn:hover{
	cursor: pointer;
}

.gallery .header{
	text-align: center;
	font-size: 20px;
	padding: 15px;
}

.gallery .body{
	height: calc(100% - 58px);
	padding-bottom: 260px;
  position: relative;
  overflow: auto;
  z-index: 80;
}

.gallery .content{
	padding: 0 2%;
}

.gallery .body .thumb{
	display: inline-block;
  width: 10%;
}

.gallery .body .thumb img{
	border: 2px solid rgba(255, 255, 255, 0);
	display: inline-block;
	opacity: 0.66;
	position: relative;
	transition: all 150ms ease-in-out;
	width: 100%;
}

.gallery .body .thumb img:hover{
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
	opacity: 1;
	transform: scale(1.25);
	z-index: 66;
}

.gallery .body .thumb.selected img{
	border: 2px solid red;
  margin: 2px;
  width: calc(100% - 5px);
	opacity: 1;
}

.gallery .footer{
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
	background: #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2%;
  padding-bottom: calc(2% + 30px);
  transition: 350ms ease-in-out;
	min-height: 70px;
	max-height: 250px;
  overflow: auto;
  width: 100%;
  z-index: 90;
}

.btn-choose-img{
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.gallery .footer .content-footer{
	display: table;
  width: 100%;
}

.gallery .footer .image,
.gallery .footer .desc{
	display: table-cell;
}

.gallery .footer .image{
	vertical-align: middle;
	width: 25%;
}
.gallery .footer .image div{

}
.gallery .footer .desc{
	vertical-align: top;
	width: 75%;
}
.gallery .footer .image img{
  width: 98%;
  margin: 0 2%;
}


