<!DOCTYPE html>
<html data-config='{"URL":"{{abeUrl}}","EXTENSION":"{{@root.config.files.templates.extension}}","TPLPATH":"{{@root.json.abe_meta.template}}","TPLNAME":"{{tplName}}","FILEPATH":"{{@root.json.abe_meta.link}}"}'
      data-slugs='{{{printJson @root.slugs}}}'
      data-json='{{{printJson json 1}}}'
      data-Locales='{{{printJson Locales}}}' >
  <head>
    <title>Abe</title>
    {{abeImport 'common-styles' manager.config this}}
    <!-- This line below is specific to Electron  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  </head>
  <body class="with-menu engine-open">
    {{abeImport 'header-menu' manager.config this}}
    <div class="container-main">
      <div class="container-table">
        <div>
          <div class="no-gutter manager-wrapper visible">
            
            <div class="manager-left form-wrapper">
              {{abeImport 'main-menu' manager.config this}}
            </div>

            <div class="manager-right tab">
              <div class="manager-tab structure-folders">
                <div class="text-uppercase">
                  Structure editor
                </div>
                <div class="structure-editor manager-tab-content">
                  <input type="hidden" class="structure-json" value='{{@root.structure}}'>
                  <input type="text" class="form-control folder-name" value="" placeholder="folder name" data-folder="" disabled="disabled">
                  <div class="help-info">
                    hit <span>ENTER</span> to create folder
                  </div>
                  <div class="structure-wrapper">
                    
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{abeImport 'common-scripts' manager.config this}}
    <script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
    <!-- This line below is specific to Electron  -->
    <script>if (window.module) module = window.module;</script>
  </body>
</html>