<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/wysiwyg-editor.min.css">
    <script type="text/javascript" src="/libs/jquery-2.1.0.min.js"></script>
</head>
<body>
  
  <div class="user-list row col-xs-offset-1 col-xs-10">
    <ol class="breadcrumb">
      <li><a href="/abe/">Home</a></li>
      <li class="active">Url list</li>
    </ol>

    <div class="panel panel-default">
  
      <form classs="form-inline">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>method</th>
              <th>link</th>
              <th>regex</th>
              {{#each @root.roles}}
              <th align="center" class="text-center">{{this.name}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each urls}}
            <tr>
              <td>{{method}}</td>
              <td>{{url}}</td>
              <td>{{regex}}</td>
              {{#each @root.roles}}
                {{#isAuthorized ../url this.workflow}}
                <td align="center" class="text-center">
                  <input type="checkbox" checked="checked" />
                </td>
                {{else}}
                <td align="center" class="text-center">
                  <input type="checkbox"/>
                </td>
                {{/isAuthorized}}
              {{/each}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </form>
    </div>
  </div>
  
</body>
</html>