<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/wysiwyg-editor.min.css">
    <script type="text/javascript" src="/libs/jquery-2.1.0.min.js"></script>
</head>
<body>
  
  <div class="user-list row col-xs-offset-1 col-xs-10">
    <ol class="breadcrumb">
      <li><a href="/abe/editor/">Home</a></li>
      <li class="active">Url list</li>
    </ol>

    <form classs="form-inline" action="/abe/list-url/save" data-user-role="true" method="post">
      <input class='btn btn-info btn-save' type="submit" value="save" data-save-user-role="true" />
      <table class="table table-striped table-bordered table-responsive" id="filtered-list">
        <thead>
          <tr>
            <th>method</th>
            <th>link</th>
            <th>regex</th>
            {{#each @root.roles}}
            <th align="center" class="text-center">{{this.name}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each urls}}
          <tr>
            <td>{{method}}</td>
            <td>{{url}}</td>
            <td>{{regex}}</td>
            {{#each @root.roles}}
              {{#isAuthorized ../url this.workflow}}
              <td align="center" class="text-center">
                <input type="checkbox" checked="checked" name="{{this.workflow}}" value="{{../regex}}" />
              </td>
              {{else}}
              <td align="center" class="text-center">
                <input type="checkbox" name="{{this.workflow}}" value="{{../regex}}" />
              </td>
              {{/isAuthorized}}
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </form>
  </div>
  <script type="text/javascript" src="/libs/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/libs/dataTables.bootstrap.min.js"></script>
  
</body>
</html>