<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/abecms/css/bootstrap.min.css">
    <link rel="stylesheet" href="/abecms/css/styles.css">
    <link rel="stylesheet" href="/abecms/css/wysiwyg-editor.min.css">
    <!-- This line below is specific to Electron  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script type="text/javascript" src="/abecms/libs/jquery-2.1.0.min.js"></script>
</head>
<body>
  
  <div class="user-list row col-xs-offset-1 col-xs-10">
    <ol class="breadcrumb">
      <li><a href="/abe/editor">Home</a></li>
      <li class="active">Hooks list</li>
    </ol>

    <div class="panel panel-default">
  
      <form classs="form-inline">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>name</th>
              <th>params</th>
              <th>return</th>
            </tr>
          </thead>
          <tbody>
            {{#each hooks}}
            <tr>
              <td>{{name}}</td>
              <td>{{params}}</td>
              <td>{{back}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <!-- This line below is specific to Electron  -->
  <script>if (window.module) module = window.module;</script>
</body>
</html>