{{#extend "layout"}}

  {{#content "head" mode="append"}}
    <style>
      table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
        margin-right: 5px;
      }
    </style>
  {{/content}}

  {{#content "breadcrumbs"}}
  {{/content}}

  {{#content "body"}}
  <div class="container-main">
    <div class="container-table">
      {{#> manager}}{{/manager}}
    </div>
  </div>
  {{/content}}

  {{#content "bottom-scripts" mode="append"}}
    <script type="text/javascript" src="/abecms/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/abecms/vendors/jquery-datatables/dataTables.bootstrap4.min.js"></script>
    <!-- [pageHTML]
      {{{pageHtml}}}
    [pageHTML] -->
  {{/content}}
{{/extend}}

