{{#extend "layout"}}
  {{#content "breadcrumbs"}} {{/content}}
  {{#content "body"}}
  <div class="references-list row">
    <div class="manager-tab references-files">
      <div class="text-uppercase">
        Reference editor
      </div>
      <div class="manager-tab-content references-files-wrapper">
        <ul class="list-group">
          {{#each reference}}
          <li class="list-group-item" data-error="0" data-href='{{@key}}' data-ref-json='{{printJson this}}' data-init='0'>
            {{@key}}
          </li>
          {{/each}}
          <li class="list-group-item last btn-add-reference">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="">
                  Add +
                </span>
              </div>
              <input class="form-control filename-input" type="text" placeholder="filename.json">
            </div>
            <div class="error-display"></div>
          </li>
          </ul>
          <div class="display-json-wrapper">
            <textarea class="form-control display-json"></textarea>
            <div class="text-saved">✔ saved</div>
            <div class="json-error">
              &nbsp;
            </div>
          </div>
      </div>
    </div>
  </div>
  {{/content}}
{{/extend}}
