<!DOCTYPE html>
<html data-config='{"URL":"{{abeUrl}}","TPLPATH":"{{@root.json.abe_meta.template}}","TPLNAME":"{{tplName}}","FILEPATH":"{{@root.json.abe_meta.link}}"}'
      data-json='{{{printJson json 1}}}'
      data-Locales='{{{printJson Locales}}}' >
  <head>
    <title>Abe</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/wysiwyg-editor.min.css">
    <script type="text/javascript" src="/libs/jquery-2.1.0.min.js"></script>
  </head>
  <body class="engine-open abe-body">

    <div class="container-main">
      <div class="container-table">

        {{abeImport 'engine' manager.config this}}

        {{abeImport 'page' manager.config this}}

        {{abeImport 'manager' manager.config this}}

      </div>
      <div class="wysiwyg-popup color"></div>
      <div class="wysiwyg-popup link"></div>
    <script type="text/javascript" src="/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/libs/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/standalone.min.js"></script>
    <script type="text/javascript" src="/scripts/template-engine-compiled.js"></script>
    <script type="text/javascript" src="/scripts/admin-compiled.js"></script>

    {{abeImport 'body' manager.config this}}
    <!-- [pageHTML] 
      {{pageHtml}} 
    [pageHTML] -->
  </body>
</html>
