{{#extend "layout"}}

  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="/abecms/css/styles.css">
    <link rel="stylesheet" href="/abecms/css/wysiwyg-editor.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <style>
      .engine-open .container-main {
        height: 100%;
      }
      .main .container-fluid {
        padding: 0;
        height: 100%;
      }
      #ui-view {
        height: 100%;
      }
      .c-main {
        padding-top: 0;
      }
      .c-main .container-fluid {
        padding: 0;
        height: 100%;
      }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
  {{/content}}

  {{#content "body-class"}} engine-open{{/content}}

  {{#content "header"}}
    {{#>header-editor}}{{/header-editor}}
  {{/content}}

  {{#content "breadcrumbs"}}
  {{/content}}

  {{#content "body"}}
    <div class="container-main">
      <div class="container-table">
        {{#> engine}}{{/engine}}
        {{#> page}}{{/page}}
      </div>
      <div class="wysiwyg-popup color"></div>
      <div class="wysiwyg-popup link"></div>
      <div class="wysiwyg-popup image"></div>
      <div class="wysiwyg-popup smiley"></div>
    </div>
  {{/content}}

  {{#content "footer"}}
  {{/content}}

  {{#content "bottom-scripts" mode="append"}}
    <!-- [pageHTML]
      {{{pageHtml}}}
    [pageHTML] -->
    {{abeImport 'body' manager.config this}}
  {{/content}}
{{/extend}}
