<!DOCTYPE html>
<html data-config='{"URL":"{{abeUrl}}","EXTENSION":"{{@root.config.files.templates.extension}}","TPLPATH":"{{@root.json.abe_meta.template}}","TPLNAME":"{{tplName}}","FILEPATH":"{{@root.json.abe_meta.link}}"}'
      data-slugs='{{{printJson @root.slugs}}}'
      data-json='{{{printJson json 1}}}'
      data-Locales='{{{printJson Locales}}}' >
  <head>
    <title>Abe</title>
    {{abeImport 'common-styles' manager.config this}}
    <!-- This line below is specific to Electron  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  </head>
  <body class="with-menu engine-open">
    {{abeImport 'header-menu' manager.config this}}
    <div class="container-main">
      <div class="container-table">
        <div>
          <div class="no-gutter manager-wrapper visible">
            
            <div class="manager-left form-wrapper">
              {{abeImport 'main-menu' manager.config this}}
            </div>

            <div class="manager-right tab">
              <div class="manager-tab theme-editor">
                <div class="text-uppercase">
                  Themes
                </div>
                <div class="manager-tab-content">

                  <div class="current-theme {{#if @root.theme.name}}{{else}}hidden{{/if}}">
                    <div class="effect">
                      <h3 class="">
                        Current theme
                      </h3>
                      <div>
                        <a class="image-theme" target="_blank">
                          <img src="{{@root.theme.thumb}}" alt="">
                        </a>
                      </div>
                      <div class="name-theme">
                        {{@root.theme.name}}
                      </div>
                      <div class="name-author">
                        <a href="{{@root.theme.author_website}}" target="_blank">
                          {{@root.theme.author}}
                        </a>
                      </div>

                      <div>
                        <button class="btn btn-danger delete-theme">
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="upload-theme-wrapper">
                    <p>
                      <div class="error error-upload hidden">
                        
                      </div>
                    </p>

                    <p>
                      <input type="text" class="form-control upload-theme" value="" placeholder="url of the themes">
                    </p>
                    <p class="">
                      <button type="submit" class="btn btn-primary btn-upload-theme" >
                        Download
                        <div class="reload-loader-wrapper">
                          <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                          </div>
                        </div>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{abeImport 'common-scripts' manager.config this}}
    <script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
    <script>
      function getImages(arg1, arg2) {

        var elems = $('.grid').masonry('getItemElements');

        $.each(elems, function(index,elem) {
          $('.grid').masonry('remove', elem ).masonry('layout');
        });

        $.ajax ({
          url:'{{{config.themes.repository.url}}}/abe/rest/posts?start=0&length=50&search%5Bvalue%5D=theme',
          type:'GET',
          dataType:'json',
          success: function(data) {
            var html = "";
            $.each(data.data, function(index,item) {
              html += "<div class='image grid-item'><img width=400 style='z-index:100;' src='" + item.publish.thumbnail + "' alt='' /><h3>"+item.publish.title+"  <a href='"+item.publish.demo +"' target='_blank'>Live demo</a> <a href='"+item.publish.download +"' target='_blank'>Install</a></h3></div>";
            });

            var $moreBlocks = jQuery( html ).filter('div.grid-item');

            jQuery('.grid').append( $moreBlocks );

            $('.grid').imagesLoaded( function() {
              jQuery('.grid').masonry( 'appended', $moreBlocks );
            });
          }
        })
      }

      $(document).ready(function(){
        var $grid = $('.grid').masonry({
          itemSelector: '.grid-item',
          gutter: 30,
          columnWidth: 200
        });
        getImages()
        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout')
          
        });
      })

    </script>
    <!-- This line below is specific to Electron  -->
    <script>if (window.module) module = window.module;</script>
  </body>
</html>