<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/abecms/css/bootstrap.min.css">
    <link rel="stylesheet" href="/abecms/css/styles.css">
    <link rel="stylesheet" href="/abecms/css/wysiwyg-editor.min.css">
    <script type="text/javascript" src="/libs/jquery-2.1.0.min.js"></script>
</head>
<body>
  <div class="panel panel-default panel-login">
    <div class="panel-body">
      {{#if info}}
        <span class="text-danger">{{info}}</span>
        <br /><br />
      {{/if}}
      <form action="/abe/users/login" method="post">
        <div class="form-group">
          <label for="username">Login</label>
          <input type="username" class="form-control" name="username" placeholder="">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="">
        </div>
        <div class="login-footer">
          <button type="submit" class="btn btn-default">Submit</button>
          <a class="pull-right" href="/abe/users/forgot">forgot password</a>
        </div>
      </form>

      {{abeImport 'login-more' config this}}
    </div>
  </div>
  <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
  <script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
</body>
</html>