<!DOCTYPE html>
<html>
  <head>
    <title></title>
    {{abeImport 'common-styles' manager.config this}}
    <link rel="stylesheet" href="/abecms/style-login.css">
  </head>
  <body class="with-menu engine-open">
    {{abeImport 'header-menu' manager.config this}}
    <div class="container-main">
      <div class="container-table">
        <div>
          <div class="no-gutter manager-wrapper visible">
            
            <div class="manager-left form-wrapper">
              {{abeImport 'main-menu' manager.config this}}
            </div>

            <div class="manager-right tab">
              <div class="manager-tab">
                <div class="text-uppercase">
                  Profile
                </div>
                <div class="manager-tab-content" >
                  <div class="alert alert-danger hidden" data-info-msg="true" role="alert">
                    
                  </div>

                  <div class="">
                    <form action="/abe/users/profile" method="post">
                      {{#each userEditable}}
                        {{#ifCond @key 'password'}}
                        {{else}}
                          <div class="form-group">
                            <label for="{{@key}}">{{@key}}</label>
                            <input type="input" required="true" class="form-control" name="{{@key}}" placeholder="" value="{{this}}">
                          </div>
                        {{/ifCond}}
                      {{/each}}

                      <hr>

                      <div class="form-group">
                        <label for="oldpassword">Old password</label>
                        <input type="password" class="form-control" name="oldpassword" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" name="password" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="repeat-password">Repeat password</label>
                        <input type="password" class="form-control" name="repeat-password" placeholder="">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{abeImport 'common-scripts' manager.config this}}
  </body>
</html>