{{#extend "layout"}}

  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="/abecms/style-login.css">
  {{/content}}

  {{#content "breadcrumbs"}}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active">Manager</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#">
                <i class="icon-speech"></i>
            </a>
            <a class="btn" href="./">
                <i class="icon-graph"></i>  Dashboard</a>
            <a class="btn" href="#">
                <i class="icon-settings"></i>  Settings</a>
            </div>
        </li>
    </ol>
  {{/content}}

  {{#content "body"}}
  <div class="manager-right tab">
    <div class="manager-tab">
      <div class="text-uppercase">
        Profile
      </div>
      <div class="manager-tab-content" >
        <div class="alert alert-info {{#unless info}}hidden{{/unless}}" data-info-msg="true" role="alert">
          {{#each info}}
            {{this}}
          {{/each}}
        </div>
        <div class="alert alert-danger {{#unless error}}hidden{{/unless}}" data-info-msg="true" role="alert">
          {{#each error}}
            {{this}}
          {{/each}}
        </div>

        <div class="">
          <form action="/abe/users/profile" method="post">
            {{#each userEditable}}
              {{#ifCond @key 'password'}}
              {{else}}
                <div class="form-group">
                  <label for="{{@key}}">{{@key}}</label>
                  <input type="input" required="true" class="form-control" name="{{@key}}" placeholder="" value="{{this}}">
                </div>
              {{/ifCond}}
            {{/each}}

            <hr>

            <div class="form-group">
              <label for="oldpassword">Old password</label>
              <input type="password" class="form-control" name="oldpassword" placeholder="">
            </div>
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" name="password" placeholder="">
            </div>
            <div class="form-group">
              <label for="repeat-password">Repeat password</label>
              <input type="password" class="form-control" name="repeat-password" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/content}}

{{/extend}}
