{{#extend "layout"}}
{{#content "breadcrumbs"}} {{/content}}
  {{#content "body"}}
    <div class="container-main user-list">
      <div class="container-table">
        <div class="manager-tab">
          <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Members list</h1>
            <p class="lead">Manage the users and their role</p>
          </div>
          <div class="manager-tab-content">
            <div class="alert alert-danger hidden" role="alert"></div>
            <div class="">
              <table class="table table-striped table-bordered" id="filtered-list">
                  <thead>
                    <tr>
                      <th>username</th>
                      <th>name</th>
                      <th>email</th>
                      <th>role</th>
                      {{#isAuthorized '/abe/users/activate' @root.user.role.workflow}}<th>active/inactive</th>{{/isAuthorized}}
                      <th data-orderable="false">actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each users}}
                    <tr>
                      <td class="td-username">
                        <div class="form-group form-group-sm wrapper-values wrapper-values-username">
                          <input type="text" name="username" placeholder="username" class="form-control input-sm" value="{{this.username}}" data-update-user-username>
                        </div>
                        <span class="value">{{this.username}}</span>
                      </td>
                      <td class="td-name">
                        <div class="form-group form-group-sm wrapper-values wrapper-values-name">
                          <input type="text" name="name" placeholder="name" class="form-control input-sm" value="{{this.name}}" data-update-user-name>
                        </div>
                        <span class="value">{{this.name}}</span>
                      </td>
                      <td class="td-email">
                        <div class="form-group form-group-sm wrapper-values wrapper-values-email">
                          <input type="text" name="email" placeholder="email" class="form-control input-sm" value="{{this.email}}" data-update-user-email>
                        </div>
                        <span class="value">{{this.email}}</span>
                      </td>
                      <td class="td-role">
                        <div class="form-group form-group-sm wrapper-values wrapper-values-role">
                          <select name="role" id="role" class="form-control input-sm" data-update-user-role>
                          {{#each ../roles}}
                            <option value="{{this.name}}" {{#ifCond ../role.name this.name}}selected{{/ifCond}}>{{this.name}}</option>
                          {{/each}}
                          </select>
                        </div>
                        <span class="value">{{this.role.name}}</span>
                      </td>
                      {{#isAuthorized '/abe/users/activate' @root.user.role.workflow}}
                      <td align="center" class="td-active">
                        {{#ifCond this.actif 1}}
                          <span class="hidden is-active">active</span>
                          <span class="fa fa-eye text-info" data-deactivate data-user-id="{{this.id}}">
                            <span class="fa fa-eye-slash text-danger"></span>
                          </span>
                        {{/ifCond}}
                        {{#ifCond this.actif 0}}
                          <span class="hidden is-active">inactive</span>
                          <span class="fa fa-eye-slash text-danger" data-activate data-user-id="{{this.id}}">
                            <span class="fa fa-eye text-info"></span>
                          </span>
                        {{/ifCond}}
                      </td>
                      {{/isAuthorized}}
                      <td align="center" class="td-actions">
                        {{#isAuthorized '/abe/users/update' @root.user.role.workflow}}
                          <span class="fa fa-pencil text-info" data-edit data-user-id="{{this.id}}">
                            <span class="fa fa-ok text-success" data-update data-user-id="{{this.id}}"></span>
                            <span class="fa fa-remove text-warning" data-close-update data-user-id="{{this.id}}"></span>
                          </span>
                        {{/isAuthorized}}
                        {{#isAuthorized '/abe/users/remove' @root.user.role.workflow}}
                        <span class="fa fa-trash text-danger" data-remove data-user-id="{{this.id}}" data-text="Are you sure you want to delete this user"></span>
                        {{/isAuthorized}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
              </table>
              <form classs="form-inline">
                <table class="table">
                  <tbody>
                    {{#isAuthorized '/abe/users/add' @root.user.role.workflow}}
                    <tr>
                      <td class="no-border">
                        <div class="form-group">
                          <input type="text" name="username" placeholder="username" class="form-control" data-add-user-username>
                        </div>
                      </td>
                      <td class="no-border">
                        <div class="form-group">
                          <input type="text" name="name" placeholder="name" class="form-control" data-add-user-name>
                        </div>
                      </td>
                      <td class="no-border">
                        <div class="form-group">
                          <input type="text" name="email" placeholder="email" class="form-control" data-add-user-email>
                        </div>
                      </td>
                      <td class="no-border">
                        <div class="form-group">
                          <input type="password" name="password" placeholder="password" class="form-control" data-add-user-password>
                        </div>
                      </td>
                      <td class="no-border">
                        <div class="form-group">
                          <select name="role" id="role" class="form-control" data-add-user-role>
                          {{#each roles}}
                            <option value="{{this.name}}">{{this.name}}</option>
                          {{/each}}
                          </select>
                        </div>
                      </td>
                      <td class="no-border">
                        <span class="fa fa-plus text-info" data-add-user></span>
                      </td>
                    </tr>
                    {{/isAuthorized}}
                  </tbody>
                </table>
              </form>
            </div>
            <table class="hidden">
              <tr data-user-base>
                <td class="td-username">
                  <div class="form-group form-group-sm wrapper-values wrapper-values-username">
                    <input type="text" name="username" placeholder="username" class="form-control input-sm" value="" data-update-user-username>
                  </div>
                  <span class="value"></span>
                </td>
                <td class="td-name">
                  <div class="form-group form-group-sm wrapper-values wrapper-values-name">
                    <input type="text" name="name" placeholder="name" class="form-control input-sm" value="" data-update-user-name>
                  </div>
                  <span class="value"></span>
                </td>
                <td class="td-email">
                  <div class="form-group form-group-sm wrapper-values wrapper-values-email">
                    <input type="text" name="email" placeholder="email" class="form-control input-sm" value="" data-update-user-email>
                  </div>
                  <span class="value"></span>
                </td>
                <td class="td-role">
                  <div class="form-group form-group-sm wrapper-values wrapper-values-role">
                    <select name="role" id="role" class="form-control input-sm" data-update-user-role>
                    {{#each roles}}
                      <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                    </select>
                  </div>
                  <span class="value"></span>
                </td>
                {{#isAuthorized '/abe/users/activate' @root.user.role.workflow}}
                <td align="center" class="td-active">
                    <span class="hidden is-active">inactive</span>
                    <span class="fa fa-eye-slash text-danger" data-activate data-user-id="">
                      <span class="fa fa-eye text-info"></span>
                    </span>
                </td>
                {{/isAuthorized}}
                {{#isAuthorized '/abe/users/remove' @root.user.role.workflow}}
                <td align="center" class="td-actions">
                  <span class="fa fa-pencil text-info" data-edit data-user-id="">
                    <span class="fa fa-ok text-success" data-update data-user-id=""></span>
                    <span class="fa fa-remove text-warning" data-close-update data-user-id=""></span>
                  </span>
                  <span class="fa fa-trash text-danger" data-remove data-user-id="" data-text="Are you sure you want to delete this user"></span>
                </td>
                {{/isAuthorized}}
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  {{/content}}

  {{#content "bottom-scripts" mode="append"}}
    <script type="text/javascript" src="/abecms/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/abecms/vendors/jquery-datatables/dataTables.bootstrap4.min.js"></script>
  {{/content}}
{{/extend}}