.autocomplete-result {
  cursor: move;
  background: $autocomplete-select-bg-color;
  font-size: 12px;
  color: $autocomplete-select-color;
  display: inline-block;
  padding: 2px 3px 2px 5px;
  border-radius: 3px;
  margin: 1px 2px;

  &.moving {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  }

  .fa {
    cursor: pointer;
    padding: 3px;
    vertical-align: top;
    font-size: 10px;
    margin-left: 2px;

    &:hover {
      background-color: $autocomplete-result-bg;
      border-radius: 3px;
      color: $autocomplete-select-bg-color;
    }
  }
}

.status-draft{
  .autocomplete-result {
    .fa {
      display: inline-block;
    }
  }
}

.autocomplete-refresh {
  float: right;
  padding: 2px;
  cursor: pointer;
}

.autocomplete-result-wrapper {
  padding: 10px 0px;
}

.autocomplete-wrapper {
  box-shadow: $autocomplete-box-shadow;
  position: absolute;
  overflow-x: hidden;
  background: $autocomplete-result-bg;
  z-index: 9999999;
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;

  div {
    padding: 2px 5px;
    cursor: pointer;

    &:hover,
    &.selected {
      background: $autocomplete-result-bg-hover;
    }
  }

  .select {
    background: $autocomplete-select-bg-color;
    color: $autocomplete-select-color;
  }
}