.autocomplete-result {
  background: $autocomplete-select-bg-color;
  font-size: 12px;
  color: $autocomplete-select-color;
  display: inline-block;
  padding: 2px 3px 2px 5px;
  border-radius: 3px;
  margin: 1px 2px;

  .glyphicon {
    display: none;
    cursor: pointer;
    padding: 3px;
    vertical-align: top;
    font-size: 10px;
    margin-left: 2px;

    &:hover {
      background-color: $autocomplete-result-bg;
      border-radius: 3px;
      color: $autocomplete-select-bg-color;
    }
  }
}

.status-draft{
  .autocomplete-result {
    .glyphicon {
      display: inline-block;
    }
  }
}

.autocomplete-refresh {
  float: right;
  padding: 2px;
  cursor: pointer;
}

.autocomplete-result-wrapper {
  padding: 10px 0px;
}

.autocomplete-wrapper {
  box-shadow: $autocomplete-box-shadow;
  position: absolute;
  overflow-x: hidden;
  background: $autocomplete-result-bg;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;

  div {
    padding: 2px 5px;
    cursor: pointer;

    &:hover,
    &.selected {
      background: $autocomplete-result-bg-hover;
    }
  }

  .select {
    background: $autocomplete-select-bg-color;
    color: $autocomplete-select-color;
  }
}