.input-group input[type="file"]{
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 333;
  &[disabled]{
    &:hover{
      cursor: not-allowed;
    }
    ~ .percent{
      .glyphicon-upload{
        color: #F7F7F7;
      }
    }
  }
}

.img-upload{
  input[type="text"]{
    
  }
  .percent{
    display: inline-block;
    width: 35px;
    text-align: center;
  }
}

.input-error{
  transition: all 250ms ease-in;
  color: #F30000;
  font-size: 11px;
  margin: 5px 0;
  opacity:0;
  &.show{
    opacity:1;
  }
}

.upload-wrapper{
  display: table-cell;
  position: relative;
  width: 42px;
  vertical-align: top;
  overflow: hidden;
  &:hover{
    cursor: pointer;
  }
  .glyphicon-upload:before{
    font-size: 20px;
    line-height: 34px;
  }
}

select[multiple], select[size] {
  height: $select-size;
}

.has-error {
  .input-group-addon {
    &.link {
      border-color: #a94442;

      .glyphicon {
        color: #a94442;
      }
    }
    
    &.image {
      border-color: #a94442;

      .glyphicon {
        color: #a94442;
      }
    }
  }

  .img-upload {
    .upload-wrapper {
      .glyphicon {
        color: #a94442;
      }
    }
  }
}

.input-group-addon {
  &.link {
    color: $addon-color;
    background-color: $addon-link-bg;
    border-color: $addon-link-border;
  }

  &.image {
    color: $addon-color;
    background-color: $addon-image-bg;
    border-color: $addon-image-border;
  }
  
  &.meta {
    color: $addon-color;
    background-color: $addon-meta-bg;
    border-color: $addon-meta-border;
  }
}

.wysiwyg-toolbar {
  white-space: normal !important;
}

.rich [contenteditable]{
  padding: 10px;
  height: 5em;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  overflow: auto;
  resize: both;
}

.references-files{
  height: calc(100% - 40px);
}

.references-files-wrapper{
  display: table;
  height: calc(100% - 90px);
  width: 100%;
  .list-group{
    display: table-cell;
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 100px;
  }
  .list-group-item{
    &:hover{
      cursor: pointer;
    }
  }
}

.display-json-wrapper{
  display: table-cell;
  position: relative;
  vertical-align: top;
  .form-control{
    height: 100%
  }
}

.json-error{
  color: #ff2323;
  padding: 5px;
  opacity: 0;
  transition: all 250ms ease-in;
}

.text-saved{
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: absolute;
  right: 15px;
  top: 10px;
  opacity: 0;
  color: #26e826;
  text-shadow: 0px 1px 1px rgb(255, 255, 255);
  transform: scale(0.9);
}

.display-json{
  background: rgba(181, 181, 181, 0.03);
  border: none !important;
  overflow: auto !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  transition: all 250ms ease-in;
  opacity: 0;
  &.error{
    background: rgba(255, 0, 0, 0.03);
  }
  &.saved{
    ~ .text-saved{
      opacity: 1;
      transform: scale(1);
    }
  }
}
