.add-block{
  border-right: 1px solid #e3e3e3;
}

.form-wrapper form {
	.add-block,
	.remove-block {
	  border-radius: 0px;
	}
	.remove-block {
    position: absolute;
	  z-index: 5656;
    right: 10px;
    top: 10px;
	}
}

.btn {
	.glyphicon-chevron-down {
	  transform: rotate(-180deg);
	}

	&.collapsed {
		.glyphicon-chevron-down {
		  transform: rotate(0deg);
		}
	}
}

.glyphicon-upload {
    color: #8E8E8E;
}

[data-block]{
	position: relative;
	.glyphicon-trash{
    position: absolute;
    right: 0;
    top: 0;
	}
}