body.homepage{
  .manager-wrapper{
    .manager-left{
      padding: 0;
      width: auto;
    }
    .manager-right{
      width: calc(100% - 210px);
      margin-left: 0;
      .container{
        width: 100%;
        padding-bottom: 60px;
      }
    }
  }
}

body.with-menu{
  .manager-wrapper.visible{
    .form-wrapper{
      border-right: 1px solid #F1F1F1;
      width: 200px;
      padding: 0;
    }
    .form-create-wrapper{
      width: 250px;
    }
    .form-wrapper,
    .form-create-wrapper,
    .manager-right{
      overflow: auto;
      height: calc(100% - 52px);
    }
    .manager-right{
      width: calc(100% - 460px);
      &.tab{
        width: calc(100% - 200px);
      }
    }
    .manager-right.large{
      width: calc(100% - 210px)!important;
    }
  }
}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}

.progress-stat{
  display: table;
  .progress-text,
  .progress-element {
    display: table-cell;
    vertical-align: middle;
  }
  .progress-element {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-weight: 100;
    &:after {
      content: attr(data-percent);
      position: absolute;
      width: 100%;
      top: 4.1rem;
      left: 0;
      font-size: 2rem;
      text-align: center;
      font-weight: 500;
      font-size: 15px;
    }
  }
  .progress-text {
    color: #3C3C3C;
    font-size: 15px;
    padding-left: 15px;
    span {
      font-size: 40px;
      font-weight: bold;
    }
  }
  svg {
    width: 10rem;
    height: 10rem;
    padding: 5px;
    &:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      path {
        fill: none;
        stroke-width: 31;
        stroke-dasharray: 629;
        stroke: #F1F1F1;
        -webkit-animation: load 1750ms ease-in-out;
        -moz-animation: load 1750ms ease-in-out;
        -o-animation: load 1750ms ease-in-out;
        animation: load 1750ms ease-in-out;
      }
    }
  }
}

.statistics{
  margin-top: 70px;
  margin-bottom: 70px;
  .text-uppercase{
    padding-bottom: 25px;
  }
}

// stream

.stream{
  display: block;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  width: auto;
  .remove{
    opacity: 0;
  }
}

.stream-item{
  padding-left: 30px;
  position: relative;
  margin-bottom: 25px;
  transition: opacity 750ms ease-in-out;
  opacity: 1;
  &:before{
    border-radius: 50%;
    content: " ";
    background: #F1F1F1;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 15px;
    width: 14px;
    z-index: 33;
  }
  &:after{
    content: " ";
    background: #F1F1F1;
    position: absolute;
    top: 30px;
    left: 6px;
    width: 1px;
    height: 135%;
    margin-bottom: 25px;
    z-index: 22;
  }
  &.created{
    &:before{
      background: #B8E986;
    }
  }
  &.approved,
  &.reviewed,
  &.published{
    &:before{
      background: #40B7E2;
    }
  }
  &.deleted{
    &:before{
      background: #F6A623;
    }
  }
}

.stream-page:active,
.stream-page:visited,
.stream-page:hover,
.stream-page{
  color: #4990E2;
  text-decoration: none;
}

.stream-time{
  color: #929090;
  font-size: 11px;
}
.manager-tab-content{
  padding-top: 20px;
  padding-left: 20px;
}
.manager-tab,
.menu-home-left{
  .text-uppercase{
    padding: 20px 20px 0px 20px;
  }
}
.menu-home-left{
  height: calc(100% - 90px);
  margin-top: 45px;
  position: relative;
  .abe-version{
    position: absolute;
    bottom: -45px;
    left: 20px;
  }

  ul{
    border-top: 1px solid #F1F1F1;
    padding: 0;
  }
  li{
    list-style: none;
    padding: 4px 20px;
    a{
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 25px);
    }
    a:active,
    a:visited,
    a:hover,
    a{
      color: #3C3C3C;
      text-decoration: none;
    }
    &.selected,
    &:hover{
      background: #4A4A4A;
      .fa{
        color: #FFF;
      }
      a{
        color: #FFF;
      }
    }
  }
}

.homepage:not(.homepage-engine){

  .menu-home-left{
    li{
      &.selected{
        background: #FFF;
        .fa{
          color: #4A4A4A;
        }
        a{
          color: #4A4A4A;
        }
      }
      &:hover{
        background: #4A4A4A;
        .fa{
          color: #FFF;
        }
        a{
          color: #FFF;
        }
      }
    }
  }
}

.nav-user{
  display: table;
  padding-top: 5px!important;
  padding-bottom: 0!important;
  > div{
    display: table-cell;
    vertical-align: middle;
  }
  .user-role{
    display: block;
    font-size: 10px;
    color: #D6D2D7;
    text-transform: lowercase;
    line-height: 5px;
  }
  .user{
    padding-left: 10px;
    text-transform: capitalize;
  }
}

.navbar-nav .dropdown-user{
  background: #FFF;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 2px 7px rgba(0,0,0,.03);
  min-width: 70px;
  padding: 10px 0;
  top: 94%;
  &:before{
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 13px 7px;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  li{
    padding: 0 15px;
    a{
      display: inline-block;
      vertical-align: middle;
    }
    a:active,
    a:visited,
    a:hover,
    a{
      color: #3C3C3C;
      text-decoration: none;
      background: none;
      padding: 0 0 0 5px;
    }
    &:hover{
      background: #4A4A4A;
      .fa{
        color: #FFF;
      }
      a{
        color: #FFF!important;
      }
    }
  }
}

.navbar-nav>li>.dropdown-user{
  border-radius: 4px;
}

.user-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
}

.tweet-wrapper{
  padding-top: 30px;
  width: 75%;
  margin-left: 10px;
}
