.label-draft {
  background-color: #f0ad4e;
}

.label-published {
  background-color: #5cb85c;
}

.label-before {
  background-color: #777;
}

.label-same {
  background-color: #5cb85c;
}

.label-after {
  background-color: #f0ad4e;
}

.label-workflow {
  background-color: #00E5FF;
}