/* = Manager
************************************************************/
.manager-wrapper {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: none;
  /*z-index: 999999;*/

  &.visible {
    display: block;
  }

  .btn-new {
    margin: 8px;
  }
  
  .manager-left {
    overflow-y: auto;
    padding: 20px 20px 0px 20px;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*background-color: #f0f0f0;*/

    .list-group-item a {
      display: block;
    }

    .close-manager {
      width: inherit;
    }

    button {
      width: 100%;
    }
    &.form-create-wrapper{
      border: none !important;
      min-width: 250px;
      padding: 65px 0 0px 0!important;
      margin-left: -4px;
      .text-uppercase{
        padding: 0 20px;
      }
      .form-create{
        padding: 0 20px;
      }
    }

  }

  .checkmark {
    font-size: 14px;
    color: #29CA29;
  }

  label {
    font-size: 12px;
  }

  select,
  input {
    font-size: 12px;
    min-height: 30px;
  }
}

.list-block{
  .btn-info{
    text-align: left;
    font-size: 11px;
    
    .glyphicon-chevron-down{
      float: right;
    }
  }
}

.label-count{

}

.list-group-manager {
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
}