/* = Manager
************************************************************/
.manager-wrapper {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: none;
  z-index: 999999;

  &.visible {
    display: block;
  }

  .left {
    overflow-y: auto;
    padding: 20px 20px 0px 20px;
    width: 23.3333333%;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #f0f0f0;

    .close-manager {
      width: inherit;
    }

    button {
      width: 100%;
    }
  }

  .checkmark {
    font-size: 14px;
    color: #29CA29;
  }

  label {
    font-size: 12px;
  }

  select,
  input {
    font-size: 12px;
    height: 25px;
  }
}

.list-block{
  .btn-info{
    text-align: left;
    font-size: 11px;
    
    .glyphicon-chevron-down{
      float: right;
    }
  }
}

.label-count{

}