/* Popup */
.abe-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  &.on {
	  display: inline-block;
	}

  &.link {
  	background: none;
  	border: none;
	  padding: 0;
    margin-left: 40px;
    margin-top: -39px;
	  input{
	  	padding: 5px;
	    vertical-align: top;
	  }
	  button {
	    border-radius: 0;
	    vertical-align: top;
	  }
	}
}