.structure-editor{
	display: inline-block;
	.help-info{
		transition: all 150ms ease-in-out;
		font-size: 11px;
		color: #e6e6e6;
		padding: 2px;
		span{
			color: #ccc;
		}
	}
	[disabled="disabled"]{
		~ .help-info{
			opacity: 0.1;
		}
	}
}
.folder-name{
	transition: all 350ms ease-in-out;
	display: inline-block;
	width: 100%;
	opacity: 1;
	&[disabled]{
		opacity: 0.4;
	}
	&.error{
		border-color: red;
	}
}
.structure-folder{
	margin: 5px;
	position: relative;
	> span:hover{
    cursor: pointer;
	}
	.fa-chevron-right{
		transition: all 100ms ease-in-out;
		font-size: 10px;
	}
	&.open{
		> span .fa-chevron-right{
	    transform: rotate(45deg);
		}
		&:before{
	    background: #eee;
	    content: " ";
	    position: absolute;
	    bottom: 3px;
	    left: 6px;
	    width: 1px;
	    height: calc(100% - 34px);
		}
	}
	.structure-folder{
		margin-left: 20px;
	}
	.fa-minus,
	.fa-plus{
		transition: all 100ms ease-in-out;
    opacity: 0.5;
    &:hover{
    	opacity: 1;
    }
	}
	.structure-tool{
		display: inline-block;
		transition: all 100ms ease-in-out;
    opacity: 0.2;
    padding: 0px 5px;
		&:hover{
			opacity: 1;
    }
	}
	.fa-minus{
    // margin-left: 5px;
    font-size: 15px;
    &:hover{
    	color: #ff1371;
    }
	}
	.fa-plus{
		font-size: 13px;
    transform: translate3d(0, -1px, 0);
    &:hover{
    	color: #47b8e0;
    }
	}
}