/* = toolbar
************************************************************/
.toolbar {
  /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);*/
  border-top: 1px solid #ddd;
  /*position: absolute;*/
  top: 0px;
  height: 45px;
  width: 100%;
  /*background: #f0f0f0;*/

  .btns {
    float: right;
    margin: 5px 5px 0 0;

    button,
    a {
      font-size: 12px;
      border: 0px;
      margin: 0px;
      display: inline-block;
      width: inherit;
      border-radius: 4px;

      .glyphicon {
        line-height: 0em;

        &:before {
          font-size: 0.8em;
        }
      }
    }
  }

  .btn {
    /*border: 1px solid #e3e3e3;
    color: #fff;
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    outline: none;*/
    font-size: 10px;
    text-transform:capitalize;

    .loading,
    .after {
      display: none;
    }

    span.fa {
      font-size: 16px;
      line-height: 1;
    }

    &.loading {
      .before {
        display: none;
      }
      .loading {
        display: block;
      }
    }

    &.done .loading {
      display: none;
    }

    &.done .after {
      display: block;
    }
  }
}

.close-engine,
.open-engine {
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #8E8E8E;
  /* color: #8E8E8E; */
  font-size: 15px;
  position: absolute;
  opacity: 1;
  top: -16px;
  transition: all 200ms ease-in-out;
  transform-origin: 50% 50%;
  line-height: 29px;
  height: 30px;
  padding: 0px 10px 0px 8px;
  margin: 0px;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1, 1);
  }
}

.open-engine {
  left: -14px;
  padding-left: 10px;
  padding-right: 7px;
  z-index: 12;
}

.close-engine{
  right: -14px;
  z-index: 11;  
}

body {
  .open-engine{
    display: block;
  }

  &.engine-open .open-engine{
    display: none;
  }

.btn-manager {
    background-color: #ff7473;
    color: #fff;
    margin-right: 50px
    }

}

button {
  span.glyphicon{
      font-size: 15px;
  }
}
