
$c: #5abaff;

/************* form *************/
$select-size: 200px;
$addon-color:rgb(255, 255, 255);
// link
$addon-link-bg:rgb(57, 179, 215);
$addon-link-border:rgb(38, 154, 188);
// image
$addon-image-bg:rgb(255, 220, 79);
$addon-image-border:rgb(161, 176, 33);
// meta
$addon-meta-bg:#5cb85c;
$addon-meta-border:#4cae4c;



/************* autocomplete *************/
$autocomplete-select-bg-color: #5bc0de;
$autocomplete-select-color: #fff;
$autocomplete-box-shadow: 0px 1px 5px 0px #cfcfcf;
$autocomplete-result-bg: #fff;
$autocomplete-result-bg-hover: #eee;